<div id="searchBox">
</div>

<table class="table table-condensed">
    <thead class="thead">
    <tr>
        <th id="name">NAME</th>
        <th id="superpower">SUPERPOWER</th>
        <th id="end-era">END OF AN ERA</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<hr/>

<button id="refresh">Refresh</button>